
name: project-347

services:

  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - kmu_network
    deploy:
      resources:
        limits:
          memory: 150M
    
  mediawiki:
    image: mediawiki
    restart: always
    container_name: mediawiki
    ports:
      - "8085:80"
    volumes:
      - mediawiki_data:/var/www/html/images
      # - ./LocalSettings.php:/var/www/html/LocalSettings.php 
    networks:
      - kmu_network
    depends_on:
      - mediawiki-db
    deploy:
      resources:
        limits:
          memory: 300M

  mediawiki-db:
    image: mariadb:11.8
    restart: always
    container_name: mediawiki-db
    environment:
      MYSQL_DATABASE: mediawiki
      MYSQL_USER: ${MEDIAWIKI_DB_USER}
      MYSQL_PASSWORD: ${MEDIAWIKI_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MEDIAWIKI_DB_ROOT_PASSWORD}
    volumes:
      - mediawiki_db:/var/lib/mysql
    networks:
      - kmu_network
    deploy:
      resources:
        limits:
          memory: 700M

  nextcloud:
    image: nextcloud
    restart: always
    container_name: nextcloud
    ports:
      - "8081:80"
    environment:
      MYSQL_PASSWORD: ${NEXTCLOUD_DB_PASSWORD}
      MYSQL_DATABASE: ${NEXTCLOUD_DB_NAME}
      MYSQL_USER: ${NEXTCLOUD_DB_USER}
      MYSQL_HOST: nextcloud-db
    volumes:
      - nextcloud_data:/var/www/html
      - nextcloud_config:/var/www/html/config
    networks:
      - kmu_network
    depends_on:
      - nextcloud-db
    deploy:
      resources:
        limits:
          memory: 300M

  nextcloud-db:
    image: mariadb:11.8
    container_name: nextcloud-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${NEXTCLOUD_DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${NEXTCLOUD_DB_PASSWORD}
      MYSQL_DATABASE: ${NEXTCLOUD_DB_NAME}
      MYSQL_USER: ${NEXTCLOUD_DB_USER}
    volumes:
      - nextcloud_db:/var/lib/mysql
    networks:
      - kmu_network
    deploy:
      resources:
        limits:
          memory: 700M

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: always
    ports:
      - "3000:3000"
      - "2222:22" 
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=gitea-db:5432
      - GITEA__database__NAME=${GITEA_DB_NAME}
      - GITEA__database__USER=${GITEA_DB_USER}
      - GITEA__database__PASSWD=${GITEA_DB_PASSWORD}
    volumes:
      - gitea_data:/data
    depends_on: 
      - gitea-db
    networks:
      - kmu_network
    deploy:
      resources:
        limits:
          memory: 300M

  gitea-db:
    image: postgres:16
    container_name: gitea-db
    restart: always
    environment:
      POSTGRES_DB: gitea
      POSTGRES_USER: gitea
      POSTGRES_PASSWORD: root
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - gitea_db:/var/lib/postgresql/data
    networks:
      - kmu_network
    deploy:
      resources:
        limits:
          memory: 700M

networks:
  kmu_network:
    driver: bridge

volumes:
  portainer_data:
  mediawiki_data:
  mediawiki_db:
  nextcloud_data:
  nextcloud_db:
  gitea_data:
  gitea_db:
  nextcloud_config:
